@use 'sass:map';
@use './types' as type;

// margin auto
@mixin pull-auto {
  margin-left: auto;
  margin-right: auto;
}

// type faces
@mixin font(
  $group,
  $variant: regular,
  $properties: family weight style,
  $font: type.$base-font-stack
) {
  $font-properties: map-get($font, $group, $variant);

  @if $font-properties {
    @each $property, $values in $font-properties {
      @if contains($properties, $property) {
        font-#{$property}: map-get($font-properties, $property);
      }
    }
  }
}
