$base-font-stack: (
  poppins: (
    light: (
      family: (
        "poppins",
        sans-serif,
      ),
      weight: 300,
      style: normal,
    ),
    semiBold: (
      family: (
        "poppins",
        sans-serif,
      ),
      weight: 600,
      style: normal,
    ),
  ),
);
